.app {
  margin: auto;
  box-sizing: border-box;
  width: 50%;
  background-color: rgb(185, 181, 176);
  max-height: 100vh;
  border: 20px solid rgb(204, 201, 201);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  z-index: 3;
}

::-webkit-scrollbar{
  display: none;
}

.task__container {
  height: 85vh;
  overflow-y: scroll;
  background-color: rgb(153, 190, 190);
  padding:0 20px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.task__list {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:0 10px;
}

.input__box {
  padding:10px;
  display:flex; 
  justify-content:center;
  align-content:center;
  gap:5px;
}

.input {
  padding: 5px 10px;
}

@media screen and (max-width:768px){
  .app {
    width: 65%;
  }
}

@media screen and (max-width:525px) {
  .app{
    width: 90%;
    max-height: 100vh;
    border: 10px solid rgb(204, 201, 201);
    border-radius: 5px;
    padding: 5px;
  }
}

@media screen and (max-width:375px) {
  .app{
    width: 100%;
    max-height: 100vh;
    border: 8px solid rgb(204, 201, 201);
    padding: 4px;
  }
}