.input__container {
  padding: 10px; 
  display: flex; 
  justify-content: center; 
  gap: 5px;
}

.btn {
  padding: 2px 10px;
  text-align: center;
}

.task__list {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:0 10px;
  margin-bottom: 50px;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
}